@font-face {
    font-family: 'pixelmplus12regular';
    src: url('pixelmplus12-regular-webfont.woff2') format('woff2'),
         url('pixelmplus12-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}